<%- include("partials/header.ejs") %>

<main>
<div class="body-content"> 

<!-- PROGRAMS & ACTIVITIES -->
<section class="py-5 bg-light">
  <div class="container text-center">
    <h2 class="fw-bold mb-4">PROGRAMS & ACTIVITIES</h2>
    <p class="lead text-muted">
      Our programs are structured to build responsible citizenship, measurable impact and national consciousness.
    </p>
  </div>
</section>

<!-- School Outreach -->
<section class="py-5">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6">
        <h3 class="fw-bold mb-3">School Outreach Program</h3>
        <p>Interactive sessions in secondary schools and universities focused on:</p>

        <ul>
          <li>Civic responsibility</li>
          <li>Leadership and character development</li>
          <li>National development mindset</li>
          <li>Community service culture</li>
        </ul>
      </div>

      <div class="col-lg-6 text-center">
        <img src="/assets/images/outreach.jpg"
             class="img-fluid rounded shadow"
             alt="School Outreach">
      </div>

    </div>
  </div>
</section>

<!-- Community Service -->
<section class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-center">
           <div class="col-lg-6 text-center">
        <img src="/assets/images/comService.jpg"
             class="img-fluid rounded shadow"
             alt="School Outreach">
      </div>
    <div class="col-lg-6">
        <h3 class="fw-bold mb-3">Community Service Framework</h3>
        <p>AIOCAM is working toward structured community service programs in partnership with educational institutions,
      encouraging students to complete community service hours before graduation.</p>
       <p >This model is flexible, measurable and designed for long-term impact.</p>

      </div>

    </div>
 
  </div>
</section>

<!-- Media Engagement -->

<section class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-center">
<div class="col-lg-6">
        <h3 class="fw-bold mb-3">Media Engagement</h3>
        <p>AAIOCAM engages national media platforms to promote civic awareness and public dialogue.</p>
       <p >Media serves as a strategic tool for national orientation..</p>

      </div>

      <div class="col-lg-6 text-center">
        <img src="/assets/images/mediaOutreach1.jpg"
             class="img-fluid rounded shadow"
             alt="School Outreach">
      </div>
    </div>
 
  </div>


</div>

</main>



<%- include("partials/footer.ejs") %>