<%- include("partials/header.ejs") %>

<main> 
    <div class="body-content">

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">

  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
  </div>

  <!-- Slides -->
  <div class="carousel-inner">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <img src="/assets/images/Jumbotron5.png"
           class="d-block w-100 carousel-img"
           alt="Slide 1">
      <div class="carousel-caption text-start">
        <h1 class="text-black">The Future starts with us.</h1>
        <p class="opacity-75 text-black">Become a partner with AIOCAM and help transform Cameroon's future.</p>
        <p><a class="btn btn-lg btn-primary" href="/Volunteer">Partner with Us</a></p>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <img src="/assets/images/Jumbotron2.jpg"
           class="d-block w-100 carousel-img"
           alt="Slide 2">
      <div class="carousel-caption">
        <h1 >Leaders of Tomorrow.</h1>
        <p >Join AIOCAM and be part of the movement to build a more responsible and engaged Cameroon.</p>
        <p><a class="btn btn-lg btn-primary" href="/Volunteer">Join the Movement</a></p>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <img src="/assets/images/Jumbotron3.jpg"
           class="d-block w-100 carousel-img"
           alt="Slide 3">
      <div class="carousel-caption text-end">
        <h1 class="text-black">Together for a better Cameroon.</h1>
        <p class="text-black">Civic responsibility and national development is our collective duty as citizens of Cameroon.</p>
        <p><a class="btn btn-lg btn-primary" href="/Contact">Support AIOCAM</a></p>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>

</div>
         <!-- Marketing messaging and featurettes
  ================================================== --> <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="mt-5">
    <div class="container marketing"> <!-- Three columns of text below the carousel --> 
        <div class="row"> 
            <div class="col-lg-4 text-center">
                 <img src="/assets/images/why.jpg" class="rounded-circle bd-placeholder-img" width="140" height="140" alt="Why Image"/>
                 <h2 class="fw-normal">Why AIOCAM Exists</h2> 
                 <p>Cameroon’s development requires more than infrastructure. It requires responsible citizens, ethical leadership and collective awareness.
                    AIOCAM was created to promote national consciousness, youth responsibility and structured civic engagement. We believe sustainable development begins with mindset transformation.</p> 
                 <p><a class="btn btn-secondary" href="#">Read More »</a></p> 
                </div>
                
                <!-- /.col-lg-4 --> 
                 <div class="col-lg-4 text-center"> 
                    <img src="/assets/images/what.jpg" class="rounded-circle bd-placeholder-img" width="140" height="140" alt="what Image"/>
                     <h2 class="fw-normal">What We Do</h2> 
                     <p>
                        <ul>
                            <li>School and university outreach programs</li>
                            <li>Youth civic education sessions</li>
                            <li>Media engagements and public discussions</li>
                            <li>Community service mobilization</li>
                            <li>Institutional partnerships</li>
                        </ul>
                     </p> 
                     <p><a class="btn btn-secondary" href="#">Read More »</a></p> 
                    </div>
                    
                <!-- /.col-lg-4 --> 
                 <div class="col-lg-4 text-center"> 
                    <img src="/assets/images/highlighted.jpg" class="rounded-circle bd-placeholder-img" width="140" height="140" alt="Highlighted Activities Image"/>
                    
                    <h2 class="fw-normal">Highlighted Activities</h2> 
                    <p>
                       <ul>
                            <li>Youth Week school tours</li>
                            <li>Media engagement on national platforms</li>
                            <li>Civic awareness sessions in secondary schools</li>
                            <li>Community-based sensitization campaigns</li>
                        </ul> 
                    </p> 
                    <p><a class="btn btn-secondary" href="#">Read More »</a></p> 
                </div>
                <!-- /.col-lg-4 --> 
                </div>
                <!-- /.row --> <!-- START THE FEATURETTES --> 
                 <hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">
      First featurette heading.
      <span class="text-body-secondary">It’ll blow your mind.</span>
    </h2>
    <p class="lead">
      Some great placeholder content for the first featurette here.
      Imagine some exciting prose here.
    </p>
  </div>
  <div class="col-md-5">
    <img src="/assets/images/feature4.jpg"
         class="featurette-image img-fluid feature-img"
         width="500"
         height="500"
         alt="Feature Image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">
      Oh yeah, it’s that good.
      <span class="text-body-secondary">See for yourself.</span>
    </h2>
    <p class="lead">
      Another featurette? Of course. More placeholder content here
      to give you an idea of how this layout would work.
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="/assets/images/feature2.jpg"
         class="featurette-image img-fluid feature-img"
         width="500"
         height="500"
         alt="Feature Image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">
      And lastly, this one.
      <span class="text-body-secondary">Checkmate.</span>
    </h2>
    <p class="lead">
      This is the last block of representative placeholder content.
      Your real content goes here.
    </p>
  </div>
  <div class="col-md-5">
    <img src="/assets/images/feature3.jpg"
         class="featurette-image img-fluid feature-img"
         width="500"
         height="500"
         alt="Feature Image">
  </div>
</div>

<hr class="featurette-divider">
                <!-- /.container --> 
                </main>

  </div> 


    </div>




<%- include("partials/footer.ejs") %>