<%- include("partials/header.ejs") %>





<div class="body-content flex-fill"> 
    <main>
<!-- HERO -->
  <section class="news-hero text-white text-center d-flex align-items-center">
    <div class="container">
      <h1 class="display-5 fw-bold">News & Media</h1>
      <p class="lead">Latest updates from AIOCAM</p>
    </div>
  </section>


  <!-- FACEBOOK VIDEOS SECTION -->
  <section class="py-5">
    <div class="container">
      <h2 class="text-center mb-5">Latest Videos</h2>

      <div class="row justify-content-center g-4">

   <div class="row justify-content-center">
  <div class="col-lg-8">

    <div class="ratio ratio-16x9 shadow-sm">
      <iframe
        src="https://www.youtube.com/embed/wcs70ZaMENc"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen>
      </iframe>
    </div>

  </div>
</div>

      </div>
    </div>
  </section>
</div>

    </main>



<%- include("partials/footer.ejs") %>