<%- include("partials/header.ejs") %>






<div class="body-content flex-fill"> 
<main>
 <section class="py-5">
    <div class="container text-center">

      <!-- Heading -->
      <h2 class="fw-bold mb-5 display-6">Our Partners</h2>

      <!-- Logos Grid -->
      <div class="row justify-content-center align-items-center g-5">

        <!-- Partner 1 -->
        <div class="col-6 col-md-4 col-lg-3">
          <div class="partner-logo">
            <img src="/assets/images/partner1.png"
                 class="img-fluid"
                 alt="Partner 1">
          </div>
        </div>

        <!-- Partner 2 -->
        <div class="col-6 col-md-4 col-lg-3">
          <div class="partner-logo">
            <img src="/assets/images/partner2.png"
                 class="img-fluid"
                 alt="Partner 2">
          </div>
        </div>

        <!-- Partner 3 -->
        <div class="col-6 col-md-4 col-lg-3">
          <div class="partner-logo">
            <img src="/assets/images/partner3.png"
                 class="img-fluid"
                 alt="Partner 3">
          </div>
        </div>

      </div>

    </div>
  </section>
</main>
</div>
























<%- include("partials/footer.ejs") %>